############################
# npm
############################
node_modules
.node_history
npm-debug.log


############################
# tmp, editor & OS files
############################
.now
node_modules

# Environment Variables
.env
.env.build
.tmp
.DS_STORE
**/coverage
**/sessions
