############################
# npm
############################
node_modules
.node_history
npm-debug.log


############################
# tmp, editor & OS files
############################
.env
.tmp
.DS_STORE
**/coverage
**/sessions